#modal-button{
  width:70%;
  margin: auto;
  font-size: 2rem;
  margin-bottom: 10px;
}
.modal-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:4rem;
  margin:auto;
  padding-top:0.2em;
  padding-bottom:0.2em;
}
#modal-body{
  font-size:2rem;
  text-align:center;
  padding-left:1em;
  padding-right:1em;
  padding-bottom: 1em;
}
.modal{
border-radius: 2px !important;

}