#map-container{
  margin:auto;
  padding-top:3em;
}
#map{
  margin:auto;
 
}
#alert-in{
  width:80%;
  /* display: inline; */
  margin:auto;
  background-color: #77DE7C;
  
}
#alert-out{
  
    background-color: #D1922E;
  width:80%;
  margin:auto;
  /* visibility: hidden; */
}
.alert-button{
  
  width:30%;
  
}
.alert-text{
  font-size: 2em;
  width:70%;
  text-align: left;
  
}
#marker-title{
  font-size: 2rem;
  font-weight: bold;
}
#wait-time-text{
  color:gray;
  text-align: center;
  font-size: 1rem;
}
#wait-time{
  text-align: center;
  color:orange;
  font-size: 1.5rem;
}
#book-button{
  margin-left:auto;
  margin-right:auto;
}
